<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link href="../main.css" rel="stylesheet">
	<title>Set The Mood</title>
</head>
<body>
	<div>
	<h1 class="head">Set the Mood</h1>
	<div class="userInfo">
  		<h2>Welcome <%= user.name %> !</h2> </br>
  		<img class="userImg" src=<%= user.photo %>></img> <br/>
  		<h2><a href ="/logout">Log out</a></h2>
  	</div>
  	</div>
  	<div>
  	<input></input>
  	<button class="search">Search Playlists</button>
  	<button class="personalPlaylist">Select one of your playlsits</button>
  	</div>
	<span id="sidePlayer"> &#9776; open</span>
	<div id="mySidenav" class="sidenav">
  	<a href="" class="closebtn">&times;</a>
	<iframe class ="spotifyIframe" src="" width="300" height="650" frameborder="0" allowtransparency="true"></iframe>
	</div>
	<div class="test">
	<div class="playlists">	
	<h1>Choose a playlist</h1>
	</div>
  	<div class="video">
  	<h1> Choose a scene </h1>
  
	<img class="scene" src="https://i.ytimg.com/vi/MY-f7whE_qE/hqdefault.jpg"><img>
	<img class="scene" src="https://i.ytimg.com/vi/4RUGmBxe65U/hqdefault.jpg"><img>
	<img class="scene" src="https://i.ytimg.com/vi/p91kHbSksW4/hqdefault.jpg"><img>
	<img class="scene" src="https://i.ytimg.com/vi/vGbRxR03jV8/hqdefault.jpg"><img>
	<img class="scene" src="https://i.ytimg.com/vi/5eLcHJLDlI8/hqdefault.jpg"><img>
	<img class="scene" src="https://i.ytimg.com/vi/f61PbjjVuF0/hqdefault.jpg"><img>
	<img class="scene" src="https://i.ytimg.com/vi/_gp51lt9kdA/hqdefault.jpg"><img>
	<img class="scene" src="https://i.ytimg.com/vi/V4Oosy-ZtGY/hqdefault.jpg"><img>
	<img class="scene" src="https://i.ytimg.com/vi/hs86eBCT4dI/hqdefault.jpg"><img>


 	<!--  <script src="https://www.youtube.com/iframe_api"></script>
  	<div id="player"></div>
  	<div id="player1"></div>
  	
 	 <button class="player-btn">Push</button> -->
 	 </div>
  </div>

	<script src="main.js"></script>
</body>
</html>