<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link href="../main.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Montserrat">
	<title>Set The Mood</title>
</head>
<body>
	<!-- Header info -->
  	<div class="instruction">
		<div id="player"></div>
		<div id="cover">
			<h1><span>Set the Mood with</span></h1>
			<div class="userInfo">
  				<img class="userImg" src=<%= user.photo %>></img><br>
  				<h4><a href ="/logout">Log out</a></h4>
  			</div>	
		</div>
	</div>

	<!-- Search content -->
	<div class="searchInfo">
		<h2 class="search_playlist">Search for a playlist</h2>
  		<h2 class="your_playlsit">Show your playlists</h2> 
  		<h2 class="choose_scene"> Choose a scene </h2><br> 
  		<input class="search_spotify"></input>
  		<button class="search">Search</button>
  		<button class="personalPlaylist">Show</button>
		<button class="youtube">Or Search Youtube</button>

  		<!-- Modal content -->
		<div id="myModal" class="modal">
  			<div class="modal-content">
   				<span class="close">×</span>
    			<h1>Searh For Videos</h1>
    			<input class="search_youtube"></input>
    			<button class="search_youtube_button">Search</button>
  			</div>

		</div>
	</div>

	<!-- Side Spotify player -->
	<div id="mySidenav" class="sidenav">
  		<a href="" class="closebtn">&times;</a>
		<iframe class ="spotifyIframe" src="" width="300" height="650" frameborder="0" allowtransparency="true"></iframe>
	</div>
	
	<!-- Videos and playlist display-->
	<div class="display">
		<div class="playlists"></div>
  		<div class="video"></div>
 	</div>
	<script src="main.js"></script>
	<script src="https://www.youtube.com/iframe_api"></script>
</body>
</html>