<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link href="../main.css" rel="stylesheet">
	<title>Set the Mood</title>
</head>
<body class="landing">
<h1 class="landingTitle">Set the Mood</h1>
<hr/>
<h2><a href ="/auth/spotify">Log in with spotify</a></h2>
	
</body>
</html>