/******* API For flowershops or choclate shops nearby!*********/

/******************************************************************************************* LANDING PAGE ***************************/
.landing {
	background-color:#2e2f33;

}






/*****************************************************************/




/* probably use a flex box to display the playlist images. */
.head {
	display:inline-block;
	text-align:center;
}
.userInfo {
	display:inline-block;
	margin-left:40%;
	border:solid black 3px;
}
.userImg {
	height:20vh;
}

.playlists {
	margin-right:auto;
	margin-left:auto;
	display: -webkit-flex;
    display: flex;
   	flex-wrap: wrap;
   	height:70vh;
   	width:100vw;
   	overflow-y:scroll;
}
.playlistDiv {
	text-align:center;
	margin:2%;
}
.playlistDiv:hover {
	cursor:pointer;
	background-color:#2e2f33;
}

.playlistImg {
	display:block;
	margin:auto;
	width:25vw;
	height:40vh;
}



#sidePalyer {
	cursor:pointer;
}

.sidenav {
    display: none;
    height: 100%;
    width: 23vw;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
